RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|jpeg|js|png|svg|webp)$ [NC]
RewriteRule ^(.*)$ index.php [QSA,L]